.button {
    background: none;
    border: 1px solid;
    color: #c4fcef;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #49c87a;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}