/* ItemModal.module.css */

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: fit-content;
}

.modalContent h2 {
    margin-top: 0;
}

.modalContent form {
    display: flex;
    flex-direction: column;
}

.modalContent input,
.modalContent textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modalContent textarea {
    resize: vertical;
    min-height: 80px;
}

.modalContent button {
    margin-top: 10px;
}

.modalContent p {
    margin: 5px 0;
}